packages/
build/
*.suo
*.user
*.sln.docstates
[Dd]ebug/
[Dd]ebugPublic/
x64/
build/
bld/
[Bb]in/
[Oo]bj/
*.dll
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.psess
*.vsp
*.vspx
$tf/
*.[Rr]e[Ss]harper
*.DotSettings.user
.JustCode
packages/*
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.vs/
nunitOutput.xml